<div class="container">
  <div class="nav">
    <a href="/toggle-theme">+++ Secure Toggle Theme +++</a>
  </div>
  <h1>Instantgram.com</h1>
  <p class="free-login">Free Login!!! Click Here:</p>

  <div class="login-wrapper">
    <img src="/winning-smile.webp" alt="thumbs up" />

    <div class="form-box">
      {{#if error}}
        <p class="error">{{error}}</p>
        <img src="/booooo.webp" alt="boo" class="boo" />
      {{/if}}

      <form action="/login" method="POST">
        <label>User EMail:</label>
        <input
          type="text"
          name="username"
          placeholder="--> Enter Login here <--"
          required
        />
        <label>Secret Password:</label>
        <input
          type="password"
          name="password"
          placeholder="--> Enter Secret Password here <--"
          required
        />
        <button type="submit">+++ Secure SSL Login +++</button>
      </form>
    </div>

    <img src="/winning-smile.webp" alt="thumbs up" />
  </div>

  <p class="browdcaste">Browdcaste yourselve!!!</p>

  <img class="padlock" src="/padlock.webp" alt="Connection Secure" />


</div>