<div class="container">
  <div class="nav">
    <a href="/toggle-theme">+++ Secure Toggle Theme +++</a>
    <a href="/logout">+++ Secure Logout +++</a>
  </div>
  <h1>Instantgram.com</h1>
  <h2>Welcome, {{user.fullName}}!</h2>
  <img src="/wooo.webp" alt="woo" class="woo" />

  <div class="profile-wrapper">
    <img src="/winning-smile.webp" alt="thumbs up" />

    <div class="profile-box">
      <p><strong>Username:</strong> {{user.username}}</p>
      <p><strong>Email:</strong> {{user.email}}</p>
      <p><strong>Bio:</strong> {{user.bio}}</p>
    </div>

    <img src="/winning-smile.webp" alt="thumbs up" />
  </div>

  <p class="browdcaste">Browdcaste yourselve!!!</p>

  <img class="padlock" src="/padlock.webp" alt="Connection Secure" />

</div>
